.help__block-content{
    display: none;
}

.help__block-button:checked ~ .help__block-content{
    display: block; 
    background: #efefef;
    border: 2px solid black;
    border-radius: 20px;
    width: 900px;
    height: auto;
    font-size: 20px;
    padding: 20px;
}

@media screen and (max-width: 720px) {
    .help__block-button:checked ~ .help__block-content{
        width: 520px;
    }
}

@media screen and (max-width: 480px) {
    .help__block-button:checked ~ .help__block-content{
        width: 360px;
    }
}