.rating__avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
    transition: opacity 0.3s ease;
    opacity: 0.8;
  }
  
  .rating__avatar:hover {
    opacity: 1;
  }