.header__button{
    margin: 350px 0 0 0;
    cursor: pointer;

    max-width: 260px;
    height: 65px;

    display: grid;
    justify-content: center;
    align-content: center;

    border:3px solid;
    box-sizing: border-box;

    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--white);
    background-color: #FD7EB7;
}

@media screen and (max-width: 480px){
    .header__button{
        margin-top: 200px;
    }
}