.header__text{
    font-weight: 100;
    font-size: 30px;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FDE0FA;
    -webkit-text-stroke: 2px #FD7EB7;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25); 
}