.header__library{
  width: 1200px;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 20px 0 0;
  background-color: #ff3d88;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .header__library{
    width: 900px;
  }
}

@media screen and (max-width: 720px) {
  .header__library{
    width: 520px;
  }
}

@media screen and (max-width: 480px) {
  .header__library{
    width: 400px;
  }
}
  