.header__lists{
  padding: 0;
  margin: 0 0 0 135px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .header__lists{
    margin: 0 0 0 45px;
    width: 240px;
  }
}